.App-link {
  color: #61dafb;
}

.App-title {
  padding-left: 16px;
  font-weight: bold !important;
  font-size: 28px !important;
}

.App-logo {
  filter: drop-shadow(1px 2px 3px red);
}

.App-action-button {
  width: 100%;
  padding: 0 9px 0 16px;
}

@media only screen and (max-width: 800px) {
  select {
    font-size: 12px !important; 
  }
}
